[Unit]
Description=caddy textbank
After=docker.service
Wants=docker.service
After=textbank-node.service
Wants=textbank-node.service
After=network-online.target
Requires=network-online.target
[Service]
TimeoutStartSec=infinity
Restart=always
ExecStartPre=-/usr/bin/docker network create -d bridge textbanknet
ExecStartPre=-/usr/bin/docker kill textbank-caddy
ExecStartPre=-/usr/bin/docker rm textbank-caddy
ExecStartPre=/usr/bin/docker pull caddy:2
ExecStart=/usr/bin/docker run --network textbanknet --env-file /var/textbank/textbank-caddy.env  --name textbank-caddy  -p 80:80 -p 443:443 -v caddyData:/data -v /var/textbank/Caddyfile:/etc/caddy/Caddyfile caddy:2
ExecStop=/usr/bin/docker stop textbank-caddy
[Install]
WantedBy=multi-user.target